/* màu chữ */

.content-hero1{

    font-size: 50px;
    top: -100%;
    position: absolute; 
    left: 30%;
}

.content-he1 {

    color: orange;
    font-size:  30px;


  }



/* code css */
.accordion-button:focus,
.accordion-button:active {
  background-color: orange;
}


.accordion {
    float: left;
    width: 500px; /* Đặt kích thước chiều rộng theo yêu cầu của bạn */


    top: 80%;
    position: absolute; 
    left: 20%;
  }


  .accordion-body strong {
    display: inline; /* hoặc display: inline-block; */
  }

/*  bài viết mới */

  /* code css bài viết mới   */
  .img-right-col-new {
    width: 90px;
  }

  .right-col-new {
    display: flex;
    flex-direction: row-reverse;
  }

  /* code hotline footer */
  .hotline-03 {
    position: absolute;
    top: -11%;
    right: -33%;
    background-color: #ff9900;
    padding: 10px;
    width: 700px;
    /* Đặt chiều rộng mong muốn */
    height: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* transform: skewX(10deg); */
    /* transform-origin: bottom right; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
    /* tạo thanh nav có đường viền */
    background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
    background-size: 10px 10px;
  }
  
  /* code car footer */

  
/* code css tạo chuyển động xe ô tô */
.icon-car-03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  top: 131px;
  position: relative;
}

.icon-car-03 .car1 {
  animation: carAnimation 6s linear infinite;
}

@keyframes carAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.icon-car-03 .car2 {
  animation: carAnimation2 6s linear infinite;
}

@keyframes carAnimation2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.icon-car-03 .car3 {
  animation: carAnimation3 6s linear infinite;
}

@keyframes carAnimation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}




/* code thanh nav */
.white-text001 {
  color: white;
  position: relative;
  transform: translateX(107%);
  position: absolute;
  right: -3%;
  top: -46;
}